<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.beersoft.onseui01"
        version   = "1.0.0">
	<name>Pruebas OnseUI</name>
	<description>
		Muestra interfaz onsen ui
	</description>
	<author email="beersoft@outlook.com" href="http://beersoft.com">
		Diego Luna
	</author>
	<gap:plataform name="android" />
	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="false" />
	<preference name="android-installLocation" value="auto" />
	

	<content src="index.html" />
	<access origin="*" />
	
	
</widget>